<html>
<title>Create New Restaurant</title>
<body>

  <h1>Create New Restaurant</h1>


<form action="/createDocument"  method="post" >
  <p>
  <input name="resName" type="text" required>
  <label>Name</label></p>
  <p>
  <input name="resID" type="text" required>
  <label>restaurant_id</label></p>
<p>
  <input name="borough" type="text">
  <label>borough</label></p>
  
  <p>
  <input name="cuisine" type="text">
  <label>Cuisine</label></p>
  <p>
  <input name="street" type="text" >
  <label>Street</label></p>
  <p>
  <p>
  <input name="building" type="text">
  <label>Building</label></p>
  <p>
  <p>
  <input name="zipcode" type="text">
  <label>Zipcode</label></p>

  <p>
  <input name="x" type="text">
  <label>x coord</label></p>
<p>
  <input name="y" type="text">
  <label>y coord</label></p>
  <p>


  <p>
  <input name="score" type="number" min="0" max="10">
  <label>score</label></p>


  <input name="photo" type="file">
  <label>Photo</label></p>

  <button> Create </button></p>

</form>
<a href='/'>Home</a>
<a href='/logout'>Logout</a>
</body>
</html>

