<html>
<title>Rate Restaurant</title>
<body>

  <h1>Rate Restaurant</h1>


<form action="/createDocument"  method="post" >

<input name="resID" type="text" value="<%=r_id%>">
  <label>restaurant_id</label></p>
  <p>
  <input name="score" type="number" min="0" max="10">
  <label>score</label></p>
>

  <button> Rate </button></p>

</form>
<a href='/'>Home</a>
<a href='/logout'>Logout</a>
</body>
</html>

